<launch>
    <node name="control_aggregator" pkg="auv" type="control_aggregator.py" />
    <node name="joystick_executor" pkg="auv" type="joystick_executor.py" />
    <node name="trajectory_executor" pkg="auv" type="trajectory_executor.py" />
    <node name="ninedof" pkg="auv" type="ninedof.py" />
    <node name="thruster_sensor_topfront" pkg="auv" type="thruster_sensor.py" args="-t topfront"/>
    <node name="thruster_sensor_topback" pkg="auv" type="thruster_sensor.py" args="-t topback"/>
    <node name="thruster_sensor_frontleft" pkg="auv" type="thruster_sensor.py" args="-t frontleft"/>
    <node name="thruster_sensor_frontright" pkg="auv" type="thruster_sensor.py" args="-t frontright"/>
    <node name="thruster_sensor_backleft" pkg="auv" type="thruster_sensor.py" args="-t backleft"/>
    <node name="thruster_sensor_backright" pkg="auv" type="thruster_sensor.py" args="-t backright"/>
    <node name="single_thruster_topfront" pkg="auv" type="single_thruster.py" args="-t topfront -c 1" />
    <node name="single_thruster_topback" pkg="auv" type="single_thruster.py" args="-t topback -c 2" />
    <node name="single_thruster_frontleft" pkg="auv" type="single_thruster.py" args="-t frontleft -c 3" />
    <node name="single_thruster_frontright" pkg="auv" type="single_thruster.py" args="-t frontright -c 4" />
    <node name="single_thruster_backleft" pkg="auv" type="single_thruster.py" args="-t backleft -c 5" />
    <node name="single_thruster_backright" pkg="auv" type="single_thruster.py" args="-t backright -c 6" />
    <node name="control_loop_orientation" pkg="auv" type="control_loop_orientation.py" />
    <node name="control_loop_translation" pkg="auv" type="control_loop_translation.py" />
    <node name="trajectory_converter" pkg="auv" type="trajectory_converter.py" />
</launch>
