<launch>
    <node name="pca9685" pkg="auv" type="pca9685.py" args="blueesc.py" />
    <node name="ninedof" pkg="auv" type="fxas_fxos.py" />
    <node name="thruster_tester" pkg="auv" type="individual_thruster_control_pca.py" args="" />

    <!-- It's usually easier to tack this on last (to keep error message line numbers accurate) -->
    <include file="$(find auv)/launch/core.launch" />
</launch>
