<launch>
    <node name="pca9685" pkg="auv" type="pca9685.py" args="1850 3050 --frequency 390 --top_front 5 --top_back 6 --front_right 1 --back_right 2 --back_left 3 --front_left 4" />
    <node name="ninedof" pkg="auv" type="fxas_fxos.py" />
    <node name="thruster_tester" pkg="auv" type="individual_thruster_control_pca.py" args="" />


    <node name="servo" pkg="auv" type="servo_by_pca.py" args="servo 11" />
    <node name="stepper" pkg="auv" type="stepper_by_pca.py" args="stepper 12" />

    <!-- It's usually easier to tack this on last (to keep error message line numbers accurate) -->
    <include file="$(find auv)/launch/core.launch" />
</launch>
